/* EXERCICIO PARTE 4 - destinado a quarta parte dos exercicios das aulas 3.2 */

    div {
        margin: 10%;
    }
    
    div:hover {
        border-width: 5px;
        border-style: solid;
        border-color: midnightblue;
    }

    
