h1 {font-size: 65px; font-family: sans-serif ; color: orange;}
         
ul {background-color: peachpuff;}
         
.formatacao {background-color: papayawhip;}
         
p {font-weight: 600; font-size: 3em;font-style: italic; line-height: 10px; text-align: center; text-decoration: sienna;}
         
body {font-size: 16px;}
         
.amarelo {background-color: yellow;}
         
.vermelho { background-color: red}
         
.marrom {background-color:#8B4513;}